.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.text-center {
    text-align: center
}

.pull-left {
	float:left;
}

.pull-right {
	float: right;
}

a {
	color: #00CC99;
	text-decoration: none;
}

a, button, input, textarea {
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.1s ease-in-out, opacity 0.15s ease-in-out, border-color 0.1s ease-in-out;
}

.button-primary {
	background-color: #00CC99;
	border-radius: 5px;
	padding: 18px 40px;
	color: white;
}

.button-primary:hover {
	background-color: #00dba4;
}

.wrap {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

.header {
	background-color: #4A4A4A7F;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.banner {
	position: relative;
	width: 1024px;
	height: 560px;
	display: flex;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -100;
	object-fit: none;
}

.site-logo {
	background-image: url(../img/header_logo.png);
	display: block;
	height: 36px;
	width: 170px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.header>*:first-child {
	float: left;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.header>*:last-child {
	margin-right: 20px;
}

.header-navigation>li {
	float: left;
	color: white;
	margin-right: 20px;
}

.header-navigation>li:hover {
	color: #00CC99;
}

.header-navigation>li a {
	display: block;
	color: inherit;
	font-size: 15px;
	line-height: 24px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 16px;
	padding-left: 16px;
}

.header-navigation>li a.active-page {
	color: #00CC99;
	border-bottom: 6px solid #00CC99;
}

.content {
	margin-left: 32px;
	margin-right: 32px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: white;
}

.content-course {
	margin-left: 200px;
	margin-right: 200px;
}

.content-faq {
	margin-left: 120px;
	margin-right: 120px;
}

.question {
	font-size: 20px;
	line-height: 30px;
	color: #323232;
}

.answer {
	font-size: 16px;
	line-height: 24px;
	color: #9b9b9b;
}

.answer li {
	list-style-position: inside;
	margin-left: 30px;
}

ol li {
	list-style-type: decimal;
}

.answer ul li {
	list-style: disc;
}

.dark {
	color: #323228;
}

.question-list>li {
	margin-bottom: 30px;
}
.question-list>li:last-child {
	margin-bottom: 0;
}

.footer {
	height: 132px;
	background: #323228;
	color: #9b9b9b;
}

.footer-logo img {
	display: block;
	float: left;
	margin-bottom: 8px;
}
.footer-logo p {
	float: right;
	clear: both;
}

.footer-logo {
	width: 254px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-logo>div {
	width: 174px;
}

.social-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 140px;
	height: 100%;
	margin-right: 40px;
}

.social-footer a {
	opacity: 0.6;
}

.social-footer a:hover {
	opacity: 1.0;
}

.list-courses {
	display: flex;
	align-items: stretch;
}

.list-courses>li {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 26px 16px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
	margin-right: 10px;
	margin-left: 10px;
}

.list-courses img {
	margin-bottom: 14px;
}

.list-courses	h3 {
	font-size: 20px;
	color: #4a4a4a;
	margin-bottom: 16px;
}

.list-courses p {
	font-size: 16px;
	color: #9b9b9b;
}

.content h2 {
	font-size: 40px;
}

.content h2 .subheader {
	color: #9b9b9b;
	vertical-align: bottom;
	font-size: 20px;
}

.bar a {
	text-decoration: none;
	display: block;
	border: 2px solid #00cc99;
	padding: 6px 14px;
	border-radius: 5px;
	font-size: 16px;
}

.bar a:hover {
	background-color: #00CC99;
	color: white;
}

.bar {
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

.slogon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 40px;
	padding-right: 40px;
}

.slogon-faq {
	align-items: center;
	margin: 0 auto;
}

.slogon-faq input[type=text] {
	width: 620px;
	font-size: 22px;
	padding-right: 40px;
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.search {
	width: 100%;
	position: relative
}

.search-button {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
	background: white;
	border: none;
}

.search-button {
	outline: none;
}

.slogon h2 {
	color: #00CC99;
	font-size: 48px;
}

.slogon h3 {
	font-size: 24px;
}

.mb8 {
	margin-bottom: 8px;
}

.mb24 {
	margin-bottom: 24px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb48 {
	margin-bottom: 48px;
}

.mb60 {
	margin-bottom: 60px;
}

.slogon h2 span {
	color: white;
}
.slogon a img {
	display: block;
}

.medal {
	position: absolute;
	right: 44px;
	top: 118px;
}
.medal img {
	margin-right: 16px;
	margin-left: 16px;
}

.action-button {
	justify-content: space-between;
	align-items: center;
	display: flex;
	font-size: 20px;
}

.action-button img {
	margin-left: 28px;
}

.difference {
	margin-left: 10px;
	margin-right: 10px;
}

.difference h2 {
	margin-bottom: 30px;
}

.difference table {
    width: 100%;
    text-align: center;
}

.difference th[scope=col] {
    background-color: #f7f7f7;
    padding: 15px 20px;
    font-weight: bolder;
    font-size: 105%;
}

.difference tr {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

 td, th[scope=row] {
    padding: 15px 20px;
}

.outline table {
	width: 100%;
}

.outline td {
	padding-left: 38px;
}

.outline tr:nth-child(odd) {
	background: #ebebeb;
	color: #323232;
}

.outline tr:nth-child(even) {
	color: #9b9b9b;
}

.green {
    color: #00CC99;
}

.call-action {
	background-color: #ebebeb;
	padding-top: 120px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-right: 45px;
	padding-left: 45px;
	min-height: 396px;
	padding-bottom: 60px;
}

.call-action-course {
	background-color: #ebebeb;
	min-height: 396px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 200px;
	padding-left: 200px;
}

.call-action-course-inner {
	display: flex;
	align-items: flex-end;
}

.call-action>*{
	flex: 1 1 0;
}

.call-action form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.call-action form input[type=text], .call-action form textarea {
	font-size: 20px;
	display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px 20px;
    
}

input, textarea {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 204, 153, 0);
}

input:focus, textarea:focus {
	outline: none;
    box-shadow: 0 0 5px rgba(0, 204, 153, 1);
    border-color: rgba(0, 204, 153, 1);
}

#question {
	height: 202px;
	resize: none;
}

.call-action ::placeholder {
	color: #9b9b9b;
}

.call-action form input[type=submit] {
    cursor: pointer;
	font-size: 16px;
	align-self: flex-end;
}

.call-action div {
	padding-top: 20px;
}

.call-action h2 {
	margin-bottom: 30px;
	font-size: 30px;
}


.call-action-course h2 {
	margin-top: 15px;
	font-size: 30px;
	line-height: 45px;
}

.call-action-course .action-desc {
	margin-right: 60px;
}

.teacher {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.teacher h2 {
	font-size: 36px;
	line-height: 50px;
	margin-right: 24px;
}

.teacher li {
	list-style-type: disc;
	color: #9b9b9b;
	line-height: 24px;
	padding-left: 28px;
}

.feature li {
	list-style-type: decimal;
	padding-left: 22px;
	margin-left: 22px;
	line-height: 24px;
	color: #323232;
}